* {
  text-decoration: none;
  margin: 0%;
}
@font-face {
  font-family: Poppins;
  src: url("fonts/Poppins-ExtraLight");
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #e7eadd;
  width: 100%;
}
button {
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  max-height: 100%;
}
h2 {
  margin: 10px;
}
p {
  margin: 10px 10px 20px 10px;
}

.nav {
  display: flex;
  width: flex;
  padding: 16px 64px;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  background: #fbf3d5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button-secondary {
  display: flex;
  padding: 8px 0px;
  border: 0cap;
  background: none;
}
.button-primary {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: #9cafaa;
  background: var(--Verde-oscuro, #9cafaa);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
main {
  margin-left: 100px;
  margin-right: 100px;
}
.hola {
  overflow: hidden;
  display: flex;
}
.left-text {
  float: left;
  width: 50%;
  align-content: center;
}
.rigth-img {
  float: left;
  width: 50%;
}
.heading-0 {
  font-size: 45px;
  margin-bottom: 10px;
}
.name {
  font-size: 60px;
  margin-bottom: 10px;
  color: #dd5746;
}
.text-0 {
  font-size: 30px;
  margin-bottom: 20px;
}
.center-text {
  justify-content: center;
}
.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 35px;
}
.text {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.general-card {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.card-content {
  display: block;
  justify-items: center;
  width: 232px;
  height: 260px;
  margin: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.img-card {
  width: auto;
  height: 50%;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.title-card {
  text-align: center;
  font-size: 24px;
}
img {
  max-width: 100%;
  height: auto;
}

.q {
  background-color: #9cafaa;
  justify-content: center;
  margin-left: -100px;
  margin-right: -100px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 24px;
  padding-top: 24px;
  align-content: center;
}
.comillas {
  display: block;
  text-align: center;
  padding-top: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
.cite-text {
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 24px;
}

.cite {
  text-align: center;
  font-size: 50px;
  font-style: bold;
  padding-top: 20px;
  padding: 20px;
}

.seccion-contactame {
  display: inline-flex;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 40px;
  padding: 30px;
}
.contactame {
  width: 50%;
  padding: 20px;
}
.redes-contactame {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 23px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a + i {
  width: 25%;
}

a + h4 {
  width: 75%;
}

.formulario {
  width: 50%;
  padding: 20px;
}
label {
  display: block;
}
input {
  display: block;
  border-radius: 10px;
  background: rgba(156, 175, 170, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-style: none;
  padding: 8px 20px;
  margin: 8px;
}
placeholder {
  color: #5d5d5d;
}
.input50 {
  display: block;
  padding: 20px;
}
.input100 {
  display: block;
  padding: 20px;
}
textarea {
  display: block;
  border-radius: 10px;
  background: rgba(156, 175, 170, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-style: none;
}
.button-formulario {
  display: inline-flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--Verde-oscuro, #9cafaa);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Tablet */

@media (max-width: 976px) {
  .nav {
    padding: 8px 8px;
    gap: 20px;
    font-size: 13px;
  }

  .button-secondary {
    padding: 4px 0px;
    font-size: 10px;
  }
  .button-primary {
    padding: 5px 10px;
    gap: 5px;
    border-radius: 8px;
    font-size: 10px;
  }
  main {
    margin-left: 50px;
    margin-right: 50px;
  }
  .rigth-img {
    float: left;
    width: 50%;
  }
  .heading-0 {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .name {
    font-size: 45px;
    margin-bottom: 8px;
  }
  .text-0 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .heading {
    margin-bottom: 15px;
    font-size: 25px;
  }
  .text {
    margin-bottom: 30px;
  }
  .card-content {
    width: 221px;
    height: 248px;
    margin: 8px;
    border-radius: 8px;
  }

  .title-card {
    font-size: 25px;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  .q {
    margin-left: -50px;
    margin-right: -50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .cite-text {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 18px;
  }

  .cite {
    font-size: 25px;
  }
  .comillas {
    width: 70px;
    height: 70px;
  }
}

/* Celu */

@media (max-width: 576px) {
  .nav {
    padding: 6px 6px;
    gap: 10px;
    font-size: 10px;
  }
  button {
    font-size: 8px;
  }
  .button-secondary {
    padding: 3px 0px;
  }
  .button-primary {
    padding: 7px 7px;
    gap: 3px;
    border-radius: 8px;
  }
  main {
    margin-left: 20px;
    margin-right: 20px;
  }
  .rigth-img {
    float: left;
    width: 50%;
  }
  .heading-0 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .name {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .text-0 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .heading {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .text {
    margin-bottom: 20px;
  }
  .card-content {
    width: 130px;
    height: 146px;
    margin: 8px;
    border-radius: 8px;
  }
  .title-card {
    text-align: center;
    font-size: 12px;
  }

  .q {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .cite-text {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 16px;
  }

  .cite {
    font-size: 20px;
  }
  .comillas {
    width: 60px;
    height: 60px;
  }
}
