* {
  text-decoration: none;
  margin: 0%;
  scroll-behavior: smooth;
  scrollbar-color:  #9cafaa ;  #fbf3d5;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e7eadd;
  width: 100%;
}
button {
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  max-height: 100%;
}
h2 {
  margin: 10px 0px 20px 0px;
}
p {
  margin: 10px 0px 20px 0px;
}
a {
text-decoration: none;
color: black;
}
a:hover {
  color: #dd5746;
  font-weight: bold;
}

.nav {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fbf3d5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button-secondary {
  display: flex;
  padding: 8px 0px;
  border: none;
  background: none;
}
.button-primary {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 10px;
  border: #9cafaa;
  background: var(--Verde-oscuro, #9cafaa);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button-primary:hover {
  background: rgba(156, 175, 170, 0.80);
  box-shadow: 0px 3px 6px 0px rgba(221, 87, 70, 0.40);
  hsba(0, 0%, 0%, 1)
  hsba(164, 11%, 69%, 0.8)
} 
.button-primary:hover a {
  color: black;
  font-weight: normal;
}
.button-primary:active {
  box-shadow: 0px 3px 6px 0px rgba(221, 87, 70, 0.40) inset;

}


main {
  margin-left: 100px;
  margin-right: 100px;
}
.hola {
  display: flex;
  max-width: 1200px;
  margin: auto;
}
.left-text {
  margin-top: 50px;
  width: 50%;
  align-content: center;
}
.rigth-img {
  margin-top: 50px;
  margin-left: auto;
}
.heading-0 {
  font-size: 45px;
  margin-bottom: 10px;
}
.name {
  font-size: 60px;
  margin-bottom: 10px;
  color: #dd5746;
}
.text-0 {
  font-size: 30px;
  margin-bottom: 20px;
}
.center-text {
  justify-content: center;
}
.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 35px;
}
.text {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.general-card {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.card-content {
  display: block;
  justify-items: center;
  width: 200px;
  height: 230px;
  margin: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-content:hover {
  border-color: #DD5746;
  box-shadow: 0px 3px 6px 0px rgba(221, 87, 70, 0.40);

}
.img-card {
  width: auto;
  height: 50%;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.title-card {
  text-align: center;
  font-size: 24px;
}
img {
  max-width: 100%;
  height: auto;
}

.q {
  background-color: #9cafaa;
  justify-content: center;
  margin-left: -100px;
  margin-right: -100px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 24px;
  padding-top: 24px;
  align-content: center;
}
.comillas {
  display: block;
  text-align: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
.cite-text {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 24px;
}

.cite {
  text-align: center;
  font-size: 50px;
  font-style: bold;
  padding: 20px;
}

.seccion-contactame {
  display: flex;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 30px;
  padding: 30px;

}
.contactame {
  width: 50%;
  padding: 20px;
}
.redes-contactame {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 23px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a + i {
  width: 25%;
}

a + h4 {
  width: 75%;
}

.formulario {
  display: block;
  width: 50%;
  padding: 20px;
}
form {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 20px;
}

input {
  border-radius: 10px;
  background: rgba(156, 175, 170, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-style: none;
  padding: 8px 0px 8px 8px;
  margin: 8px 8px 8px 0px;
  width: 100%;
}

textarea {
  border-radius: 10px;
  background: rgba(156, 175, 170, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-style: none;
  padding: 8px 0px 8px 8px;
  margin: 8px 8px 8px 0px;
  width: 100%;
} 
input:hover {
  outline: none;
  box-shadow: 0px 3px 6px 0px rgba(221, 87, 70, 0.40);
    border: 0.5px solid var(--Rojo-claro, #DD5746);
}
textarea:hover {
  outline: none;
  box-shadow: 0px 3px 6px 0px rgba(221, 87, 70, 0.40);
    border: 0.5px solid var(--Rojo-claro, #DD5746);
}
input:focus {
  outline: none;
  box-shadow: 0px 3px 6px 0px rgba(221, 87, 70, 0.40);
    border: 0.5px solid var(--Rojo-claro, #DD5746);
}
textarea:focus {
  outline: none;
  box-shadow: 0px 3px 6px 0px rgba(221, 87, 70, 0.40);
    border: 0.5px solid var(--Rojo-claro, #DD5746);
}

placeholder {
  color: #5d5d5d;
}

.input50 {
  display: block;
  width: 100% ;
}

.field {
display: flex;
gap: 20px;
width: 100%;
}

.input100 {
  display: block;
  width: 100%;
}

.button-formulario {
  display: inline-flex;
  padding: 8px 20px;
  gap: 10px;
  border-radius: 10px;
  background: var(--Verde-oscuro, #9cafaa);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-top: 20px;
  border: none;
}
.button-formulario:hover {
  background: rgba(156, 175, 170, 0.80);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  hsba(0, 0%, 0%, 1)
  hsba(164, 11%, 69%, 0.8) 
  color: #dd5746;
  font-weight: bold;
}

footer {
background: var(--Verde-oscuro, #9CAFAA);
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
hsba(164, 11%, 69%, 1)
display: flex;
width: 100%;
height: auto;
gap: 50px;
}
.div-button-secondary-footer {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 30px;
  margin-bottom: 15px;
}
.div-ico-footer {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding-bottom: 30px;
}




/* Tablet */




@media (max-width: 976px) {
.nav { 
  gap: 40px;
}
main {
  margin-left: 80px;
  margin-right: 80px;
}
.heading-0 {
  font-size: 35px;
}
.name {
  font-size: 50px;
}
.text-0 {
  font-size: 25px;
  margin-bottom: 15px;
}
.heading {
  margin-bottom: 15px;
  font-size: 25px;
}
.text {
  margin-bottom: 30px;
}
.card-content {
  width: 160px;
  height: 180px;
  margin: 15px;
  border-radius: 10px;
}
.img-card {
  height: 50%;
  margin-top: 25px;
  margin-bottom: 15px;
}
.title-card {
  font-size: 20px;
}
.q {
  margin-left: -80px;
  margin-right: -80px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.cite-text {
  margin-left: 80px;
  margin-right: 80px;
  font-size: 20px;
}
.cite {
  font-size: 40px;
}
.seccion-contactame {
  margin: 20px;
  padding: 20px;
}
.redes-contactame {
  gap: 18px;
} 
.field {
flex-direction: column;
gap: 0;
  }
footer {
gap: 40px;
}
.div-button-secondary-footer {
  gap: 10px;
  padding-top: 30px;
  margin-bottom: 15px;
}
}




/* Celu */




@media (max-width: 576px){
  h2 {
    margin: 8px 0px 15px 0px;
    font-size: 15px;
  }
  p {
    margin: 8px 0px 15px 0px;
  }
  button {
  font-size: 10px;
  }
  .nav { 
    gap: 10px;
  }
  
  
  main {
    margin-left: 60px;
    margin-right: 60px;
  }
  .button-primary {
    padding: 8px 10px;
  }

  .heading-0 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .name {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .text-0 {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .heading {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .text {
    margin-bottom: 20px;
  }
  .card-content {
    width: 100px;
    height: 110px;
    margin: 20px;
    border-radius: 10px;
  }
  .img-card {
    height: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .title-card {
    font-size: 12px;
  }
  
  .q {
    margin-left: -60px;
    margin-right: -60px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 18px;
    padding-top: 18px;
  }
  .comillas {
    padding-top: 15px;
    padding: 15px;
  }
  .cite-text {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 18px;
  }
  
  .cite {
    font-size: 30px;
  }
  
  .seccion-contactame {
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    flex-flow: row wrap;
  }

.texto-contactame {
  font-size: 12px;
}
.contactame {
  width: 100%;
}
  .formulario {
    width: 100%;
    padding: 15px;
  }

h4 {
  font-size: 12px;
}
  form {
    margin-top: 15px;
  }
  input {
    border-radius: 8px;
  }
  textarea {
    border-radius: 8px;
  }
  
  .button-formulario {
    padding: 8px 10px;
    gap: 8px;
  }
  footer {
  gap: 30px;
  }
  .div-ico-footer {
    padding-bottom: 15px;
  }
  }