:root {
  --color-principal: #9cafaa;
  --color-secundario: #dedfd8;
  --color-nav: #cac6b7;
  --color-acento: rgb(134, 10, 53);
  --color-shadow-acento: rgba(134, 10, 53, 0.4);
  --color-input: rgba(156, 175, 170, 0.5);
}
* {
  text-decoration: none;
  margin: 0%;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-principal);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-secundario);
  width: 100%;
}
button {
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  max-height: 100%;
}
h2 {
  margin: 10px 0px 20px 0px;
}
p {
  margin: 10px 0px 20px 0px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: var(--color-acento);
  font-weight: bold;
}

.nav {
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: var(--color-nav);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.button-secondary {
  display: flex;
  padding: 8px 0px;
  border: none;
  background: none;
}
.button-primary {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 10px;
  border: var(--color-principal);
  background: var(--color-principal);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button-primary:hover {
  background: var(--color-principal);
  box-shadow: 0px 3px 6px 0px var(--color-shadow-acento);
}
.button-primary:hover a {
  color: black;
  font-weight: normal;
}
.button-primary:active {
  box-shadow: 0px 3px 6px 0px var(--color-shadow-acento) inset;
}

.hamburgesa {
  display: none;
}
main {
  margin-left: 100px;
  margin-right: 100px;
}
.hola {
  display: flex;
  max-width: 1200px;
  margin: 15px auto auto auto;
}
.left-text {
  margin-top: 50px;
  width: 50%;
  align-content: center;
}
.rigth-img {
  margin-top: 50px;
  margin-left: auto;
}
.heading-0 {
  font-size: 45px;
  margin-bottom: 10px;
}
.name {
  font-size: 60px;
  margin-bottom: 10px;
  color: var(--color-acento);
}
.text-0 {
  font-size: 30px;
  margin-bottom: 20px;
}
.center-text {
  justify-content: center;
}
.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 35px;
}
.text {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.general-card {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.card-content {
  display: block;
  justify-items: center;
  width: 200px;
  height: 230px;
  margin: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-content:hover {
  border-color: var(--color-acento);
  box-shadow: 0px 3px 6px 0px var(--color-shadow-acento);
}
.img-card {
  width: auto;
  height: 50%;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.title-card {
  text-align: center;
  font-size: 24px;
}
img {
  max-width: 100%;
  height: auto;
}

.q {
  background-color: var(--color-principal);
  justify-content: center;
  margin-left: -100px;
  margin-right: -100px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 24px;
  padding-top: 24px;
  align-content: center;
}
.comillas {
  display: block;
  text-align: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
.cite-text {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 24px;
}

.cite {
  text-align: center;
  font-size: 50px;
  font-style: bold;
  padding: 20px;
}

.seccion-contactame {
  display: flex;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 30px;
  padding: 30px;
}
.contactame {
  width: 50%;
  padding: 20px;
}
.redes-contactame {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 23px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.redes-contactame:hover path {
  fill: var(--color-acento);
}

.redes-contactame:hover circle {
  stroke: var(--color-acento);
}

a + i {
  width: 25%;
}

a + h4 {
  width: 75%;
}

.formulario {
  display: block;
  width: 50%;
  padding: 20px;
}
form {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 20px;
}

input {
  border-radius: 10px;
  background: var(--color-input);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-style: none;
  padding: 8px 0px 8px 8px;
  margin: 8px 8px 8px 0px;
  width: 100%;
}

textarea {
  border-radius: 10px;
  background: var(--color-input);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-style: none;
  padding: 8px 0px 8px 8px;
  margin: 8px 8px 8px 0px;
  width: 100%;
}
input:hover {
  outline: none;
  box-shadow: 0px 3px 6px 0px var(--color-shadow-acento);
  border: 0.5px solid var(--color-acento);
}
textarea:hover {
  outline: none;
  box-shadow: 0px 3px 6px 0px var(--color-shadow-acento);
  border: 0.5px solid var(--color-acento);
}
input:focus {
  outline: none;
  box-shadow: 0px 3px 6px 0px var(--color-shadow-acento);
  border: 0.5px solid var(--color-acento);
}
textarea:focus {
  outline: none;
  box-shadow: 0px 3px 6px 0px var(--color-shadow-acento);
  border: 0.5px solid var(--color-acento);
}

placeholder {
  color: #5d5d5d;
}

textarea::placeholder {
  color: #5d5d5d;
}

.input50 {
  display: block;
  width: 100%;
}

.field {
  display: flex;
  gap: 20px;
  width: 100%;
}

.input100 {
  display: block;
  width: 100%;
}

.button-formulario {
  display: inline-flex;
  padding: 8px 20px;
  gap: 10px;
  border-radius: 10px;
  background: var(--color-principal);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-top: 20px;
  border: none;
}
.button-formulario:hover {
  background: var(--color-principal);
  box-shadow: 0px 3px 6px 0px var(--color-shadow-acento);
}
.button-formulario:hover a {
  color: black;
  font-weight: normal;
}
.button-formulario:active {
  box-shadow: 0px 3px 6px 0px var(--color-shadow-acento) inset;
}
footer {
  background: var(--color-principal);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 20px;
}
.div-button-secondary-footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
}
.div-ico-footer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  padding-bottom: 30px;
  width: 100%;
}
.ico-footer:hover path {
  fill: var(--color-acento);
}

.ico-footer:hover circle {
  stroke: var(--color-acento);
}

/* Tablet */

@media (max-width: 976px) {
  .nav {
    gap: 40px;
  }
  main {
    margin-left: 60px;
    margin-right: 60px;
  }
  .heading-0 {
    font-size: 35px;
  }
  .name {
    font-size: 50px;
  }
  .text-0 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .heading {
    margin-bottom: 15px;
    font-size: 25px;
  }
  .text {
    margin-bottom: 30px;
  }
  .card-content {
    width: 160px;
    height: 180px;
    margin: 15px;
    border-radius: 10px;
  }
  .img-card {
    height: 50%;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .title-card {
    font-size: 20px;
  }
  .q {
    margin-left: -60px;
    margin-right: -60px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .cite-text {
    margin-left: 80px;
    margin-right: 80px;
    font-size: 20px;
  }
  .cite {
    font-size: 40px;
  }
  .seccion-contactame {
    margin: 20px;
    padding: 20px;
  }
  .redes-contactame {
    gap: 18px;
  }
  .field {
    flex-direction: column;
    gap: 0;
  }
  .div-button-secondary-footer {
    gap: 10px;
  }
}

/* Celu */

@media (max-width: 576px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    margin: 8px 0px 15px 0px;
    font-size: 15px;
  }
  p {
    margin: 8px 0px 15px 0px;
  }
  button {
    font-size: 10px;
  }
  .nav {
    height: 20px;
    gap: 10px;
  }

  main {
    margin-left: 20px;
    margin-right: 20px;
  }

  .button-primary {
    padding: 8px 10px;
    font-size: 8px;
  }

  .heading-0 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .name {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .text-0 {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .heading {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .text {
    margin-bottom: 20px;
  }
  .card-content {
    width: 90px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
  }
  .img-card {
    height: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .title-card {
    font-size: 12px;
  }

  .q {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 18px;
    padding-top: 18px;
  }
  .comillas {
    padding-top: 10px;
    padding: 10px;
  }
  .cite-text {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 12px;
  }

  .cite {
    font-size: 20px;
  }

  .seccion-contactame {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    flex-flow: row wrap;
  }

  .texto-contactame {
    font-size: 12px;
  }
  .contactame {
    width: 100%;
  }
  .formulario {
    width: 100%;
    padding: 15px;
  }

  h4 {
    font-size: 12px;
  }
  form {
    margin-top: 15px;
  }
  label {
    font-size: 12px;
  }
  input {
    border-radius: 8px;
  }
  textarea {
    border-radius: 8px;
  }

  .button-formulario {
    padding: 8px 10px;
    gap: 8px;
  }

  .nav {
    height: auto;
    flex-direction: column;
    align-items: end;
  }

  .hamburguesa {
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }

  .hamburguesa .open {
    display: block;
    height: 35px;
    width: 35px;
    background-image: url(../img/hamburgesa.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px 30px 0px 10px;
  }

  .button-primary {
    margin: 0px;
  }

  .hamburguesa .close {
    height: 35px;
    width: 35px;
    justify-content: flex-end;
    background-image: url(../img/cerrar.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px 30px 0px 10px;
  }

  .nav-menu {
    stroke: 1px;
    display: none;
    flex-direction: column;
    gap: 10px;
    background: #fbf3d5;
    width: 100%;
    padding: 10px;
    align-items: end;
    padding-right: 30px;
    border-top: 0.5px solid #9cafaa;
  }

  .nav-menu a button {
    text-decoration: none;
    color: white;
  }

  .close {
    display: none;
  }

  #menu:target .nav-menu {
    display: flex;
  }

  #menu:target .open {
    display: none;
  }

  #menu:target .close {
    display: block;
  }
}
